/* Benjamin McCabe
4/12/24
IT302 - 002
Phase 4 Project
bsm25@njit.edu */

.container {
  max-width: 100% !important;
  width: 100%;
  height: 900px;
  perspective: 1000;
  -webkit-perspective: 1000;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  margin: 50px 0;
  background: none;
  border-bottom: 2px solid rgb(134, 134, 134);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 600px;
  height: 30px;
  font-size: 24px;
  transition: all 0.2s;
}

input::placeholder {
  transition: all 0.2s;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #4c71f9;
  color: rgb(0, 0, 0);
}
input:focus::placeholder {
  color: #999; /* Change the color to your desired color */
}

button {
  background-color: white;
  border: none;
}

.search-icon {
  width: 25px;
}

.add-icon {
  width: 17px;
  opacity: 0.7;
  margin-left: 2px;
}

.coverflow {
  position: absolute;
  top: 45%;
  left: 51%;
  backface-visibility: visible;
  transform: scale(1) translateZ(-400px);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  cursor: pointer;
}

.coverflow-item {
  width: 400px;
  height: 400px;
  transform-origin: 50% 50%;
  position: absolute;
  backface-visibility: visible;
  top: -175px;
  left: -200px;
  border-radius: 5px;
  background-color: #111;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s all ease-out;

  /*Improvement*/
  transition: 0.4s all cubic-bezier(0.17, 0.75, 0.58, 0.95);
  -webkit-box-shadow: 0px 10px 27px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 27px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 27px -1px rgba(0, 0, 0, 0.7);
}

.coverflow-item:hover {
  scale: 1.05;
}

.rightHandSide {
  display: flex;
  flex-direction: column;
}

.songInfo {
  position: absolute;
  top: 80%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.songPage {
  margin: 100px;
}

.songPageImage {
  box-shadow: 0px 10px 27px -1px rgba(0, 0, 0, 0.7);
  transition: 0.75s all cubic-bezier(0.17, 0.75, 0.58, 0.95);
  height: 700px;
  scale: 1.12;
  border-radius: 10px;
}
.songPageImage.scaledDown {
  scale: 1;
}
.songPageImage:hover {
  scale: 1.02;
}

.albumName {
  margin: 0;
  padding: 0;
}

.artistName {
  margin: 0;
  padding: 0;
}

.date {
  font-weight: 300;
}

.musicContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.audioNameDiv {
  padding: 10px;
  padding-left: 15px;
  flex-grow: 1; /* Allow it to grow as much as possible */
  min-width: 100px;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.audioDiv {
  flex-grow: 0;
  width: 80%;
  display: flex;
}

audio {
  width: 100%;
  margin-left: auto;
  height: 100%;
  padding: 5px;
}

audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-control-container {
  display: none;
}
audio::-webkit-media-controls-overflow-button {
  display: none;
}

audio::-webkit-media-controls-panel {
  background-color: white;
}

audio::-webkit-media-controls {
  background-color: transparent;
}

/* Add more styles as needed */

.commentsSectionHeader {
  margin-top: 20px;
}

.commentsDiv {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.comment {
  background-color: red;
}
